body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.colBtn {
  height: 30px;
  width: 147px;
  background-color: yellow;
}

.plaBtn {
  height: 30px;
  width: 147px;
  background-color: yellow;
}

.ritBtn {
  height: 30px;
  width: 147px;
  background-color: yellow;
}

.neighborhood-class {
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/las-colinas-canal-irving-texas-library-of-congress.jpg);
}

.neighborhood-p {
  color: white;
  font-weight: 2px;
}

.neighborhood-h1 {
  color: white
}

aside {
  background-color: whitesmoke;
  width: auto;
}

footer {
  background-color: whitesmoke;
  width: auto;
}